body {
    font-family: sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    background-color: #ffae2d;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}


nav {
    background-color: #2c3e50;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    background-color: #34495e;
}


section {
    padding: 20px;
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.price {
    background-color: white;
    padding: 15px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.price h3 {
    color: #ffe20b;
}


footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}


